* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --my-head: #30979e;
  --my-trns-box: #24b1b1;
}

.bg-head {
  background-color: var(--my-head) !important;
}

.bg-translate {
  background-color: var(--my-trns-box) !important;
}

.text-gradient {
  background-image: linear-gradient(
    to top,
    #ec3838,
    #5d3cb8,
    #9900ff
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

.fs-10 {
  font-size: 3.5rem !important;
}

.rounded-5 {
  border-radius: 60px !important;
}

.caro-overlay {
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height: 10rem;
  background-color: #02a2ff7a;
  border-radius: 10px;
}

.itm-no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #02a2ff !important;
}

.logo-w {
  width: 80px;
}

.fixed-bg {
  background-image: url(../images/fixed-bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.fixed-bg2{
  background-image: url(../images/fixed-bg2.jpg);
}

.custom-container {
  width: 85% !important;
  margin: auto !important;
}

.ms-15 {
  margin-left: auto;
}

.btn-light:hover {
  background-color: rgb(209, 209, 209);
}

.social-nav {
  z-index: 15;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.social-nav li a i {
  font-size: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 50px;
  color: #113a77;
}

.social-nav li a i:hover {
  color: #257adb;
}

.cards-container .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 119, 255, 0.3);
  width: 0%;
  height: 0%;
  transition: 0.9s;
}

.cards-container .card:hover::after {
  width: 100%;
  height: 100%;
}

.cards-container .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 119, 255, 0.3);
  width: 0%;
  height: 0%;
  transition: 0.9s;
}

.cards-container .card:hover::before {
  width: 100%;
  height: 100%;
}

.thanks-card {
  border-radius: 30px !important;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  height: 500px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.thanks-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: inherit;
  overflow: hidden;
  background-attachment: local;
}

.thanks-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(79, 110, 151, 0.671);
}

.thanks-container .col-12:nth-child(1) .thanks-card::before {
  background-image: url(../images/SEF\ Academy\ logo.jpg);
}

.thanks-container .col-12:nth-child(2) .thanks-card::before {
  background-image: url(../images/zizo.jpg);
  background-size: 130%;
}

.thanks-container .col-12:nth-child(3) .thanks-card::before {
  background-image: url(../images/technical.jpg);
}

.card-btn {
  position: absolute;
  right: 0.5px;
  top: 15px;
  z-index: 12;
}

.card-body {
  position: relative;
}

.card-img {
  border-radius: inherit;
  height: 450px !important;

}
.card-img-overlay {
  position: absolute;
  border-radius: inherit;
  padding: 50px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
}

.thanks-img {
  width: 30%;
  border: 3px solid gray;
  border-radius: 50%;
  overflow: hidden;
}
.thanks-img img {
  width: 100%;
  border-radius: 50%;
}

.thanks-card:hover {
  transform: scale(0.87);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.thanks-card:hover .card-img-overlay {
  transform: scaleY(0.95);
  transform-origin: bottom;
}

.thanks-card:hover::after {
  background-color: rgba(54, 96, 141, 0.781);
}

/* .thanks-card:hover::before {
  background-size: 110%;
} */

.thanks-img-info {
  position: absolute;
  bottom: 30px;
}
.news-img-div {
  overflow: hidden;
  position: relative;
}

.news-img-div-skew1 {
  transform: skewX(5deg);
  transform-origin: top;
}

.news-img-div-skew2 {
  transform: skewX(5deg);
  transform-origin: bottom;
}

.news-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
  position: relative;
}

@media (max-width: 767px) {
  .news-img-div-skew1,
  .news-img-div-skew2 {
    transform: skewX(0);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cards-container .col-12 {
    padding: 50px 110px !important;
  }
}

@media (min-width: 992px) and (max-width: 1500px) {
  .cards-container .col-12 {
    padding: 50px 5px !important;
  }
}
.blue-shadow {
  box-shadow: 0px 0px 60px rgba(60, 57, 243, 0.349);
}

.News-btns .btn {
  transition: background-color 0.5s ease;
}

.cor-container .card {
  transition: 0.4s;
  overflow: hidden;
  position: relative;
}

.cor-container .card:hover .news-img {
  transform: scale(1.1);
}

.cor-line {
  width: 50px;
  height: 5px;
  background-color: #113a77;
  transition: 0.4s ease;
}

.cor-container .card:hover .cor-line {
  width: 110px;
}

.News-btns button:hover {
  background-color: rgb(126, 126, 126) !important;
}

.News-btns .cor-btn1:hover {
  background-color: rgb(133, 119, 72) !important;
}

.News-btns .cor-btn2:hover {
  background-color: rgb(72, 76, 133) !important;
}

.News-btns .cor-btn3:hover {
  background-color: rgb(133, 72, 133) !important;
}

.News-btns .cor-btn4:hover {
  background-color: rgb(65, 63, 175) !important;
}

.link-muted {
  color: rgb(192, 192, 192);
}

.link-muted:hover {
  color: rgb(255, 253, 253) !important;
}

.border-top-bottom {
  border: 2px solid #666666;
  border-right: none;
  border-left: none;
}

footer {
  padding-bottom: 100px;
}

.light-shadow {
  box-shadow: 0px 0px 50px rgba(236, 236, 236, 0.24);
}

.str-dark-shadow {
  box-shadow: 0px 0px 60px rgba(5, 5, 5, 0.349);
}

.img-op-hover {
  transition: 0.4s ease;
}
.img-op-hover:hover {
  opacity: 0.6;
}